
:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c889a;
    --grey-color: #687080;
    --bordoer-color: #e5e8ec;
    --dark-color: #212121;
    --line-color: rgb(218, 216, 216);

    --prim-font: 'Ubuntu', sans-serif;

    --font-small:13px;
    --fs14: 14px;
    --font-smaller: 11px;
  
    --percent100: 100%;
    --percent50: 50%;
  
    --fw2: 200;
    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;
  
    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;
    --trans-border: border .3s;
    --trans-transform: transform .3s;
  
    --shadow: 0px 10px 20px 0px rgb(0 0 0 /20%);
    --fade: fade-bottom .3s cubic-bezier(0.39, 0.575, .0565, 1) both;

    --swiper-theme-color: #000000;
}


.swiper-pagination-bullet-active {
    opacity: 1;
    background: #000000!important; 
}

.content {
    position: relative;
    width: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.icon__chevron-down:before {
    content: "\f109";
}

input.checker {
    position: relative;
    padding: 5px;
    margin: 0 5px 0 2px;
    cursor: pointer;
}
input.checker::after, 
input.checker::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}
input.checker::before {
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    border-radius: 50%;
    transition: var(--trans-border);
}
input.checker::after {
    width: 10px;
    height: 10px;
    background-color: var(--dark-color);
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: var(--trans-transform);
}
input.checker:checked::before {
    border-color: var(--dark-color);
}
input.checker:checked::after {
    transform: translate(-50%, -50%) scale(1);
}
/* --------------------------*
        #breadcrumb
* ------------------------- */
.breadcrumb {
    display: flex;
    width: 100%;
    height: 48px;
    flex-direction: row;
    align-items: center;
}

[data-department=men] .breadcrumb, 
[data-department~=default] .breadcrumb.forcemw, 
[data-department=default] .forcemw .breadcrumb {
    font-family: "RobotoMono-Regular";
    font-size: .69rem;
    line-height: 0;
    letter-spacing: 0;
    color: #000;
}
.breadcrumb__item:first-child .breadcrumb__item__link {
    padding-left: 0;
}
[data-department=men] .breadcrumb__item__link, 
[data-department~=default] .breadcrumb__item__link.forcemw, 
[data-department=default] .forcemw .breadcrumb__item__link {
    color: #000;
}
.breadcrumb__item__link {
    padding: 0 5px;
}
.breadcrumb__item:after {
    content: "/";
}
  
.product .breadcrumb {
    display: none;
}

.title3 {
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
  }

.carousel {
    margin-top: 2em;
}
/* --------------------------*
       #Product
* ------------------------- */
.product .wrapper {
    --grid-col: 420px;
}
.section .product {
    border-bottom: 1px solid #818181;
    padding-bottom: 3em;
}
.product .main-image img {
    width: 100%;
}
.product .outer-thumb {
    display: none;
}
.product .outer-thumb .item{
    height: fit-content!important;
    cursor: pointer;
}
.product .thumb-wrap {
    position: relative;
    width: 70px;
    height: 90px;
}

.outer-thumb.ob-cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(1);
    border: 1px solid var(--line-color);
  }

.product .outer-thumb img {
    transition: var(--trans-transform);    
}
.product .outer-thumb .swiper-slide-thumb-active > div,
.product .outer-thumb .item:hover {
    border: 1px solid var(--dark-color);
}
.product .outer-thumb .swiper-slide-thumb-active img,
.product .outer-thumb .item:hover img{
    transform: scale3d(.85, .85, .85);
}

.product .custom-pagination {
    position: relative;
    height: 50px    ;
}

.addcart .secondary-btn:hover {
    background-color: #212121;
    color: var(--white-color);
}

        /* --------------------------*
            #Product deatils
        * ------------------------- */

.arrow-down {
    transition: var(--trans-transform);
}

.has-child.active .arrow-down {
    transform: rotate(180deg);
}

.product-detail.menu-section {
    padding-left: 0px;
}
.product-detail .has-child .sub-menu {
    overflow: hidden; 
    opacity: 0; 
    transition: all 0.3s ease-in-out;
}

.product-detail .has-child.active .sub-menu {
    opacity: 1; 
}


.product-detail li a.child-trigger{
    border-bottom: 1px solid #818181;
}


.product-detail p {
    font-size: 14px;
    font-weight: 100;
}
.product-detail .child-trigger {
    display: flex;
    justify-content: space-between;
}
        /* --------------------------*
                    #Product sumary
                * ------------------------- */

.summary .entry {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.summary .product-group {
    display: flex;
    justify-content: space-between;
}
.summary .product-price {
    display: flex;
    align-items: center;
}
.summary .product-price .current {
    font-size: 20px;
  
}
.summary .product-price .before {
    font-size: 14px;
    color: #818181;
}


.summary .product-price .wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.summary .product-price .wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 12px;
    height: 100%;
    width: 1px;
    background-color: var(--grey-color);
    transform: skewX(-25deg);
}
.summary .product-price .discount {
    display: inline-block;
    color: var(--white-color);
    width: 44px;
    font-size: var(--fs14);
    padding: 5px;
    background-color: var(--black-color);
    margin-left: -10px;
    text-align: center;
    border-radius: 5px;
    line-height: 1;
}
.summary .title2 {
    text-transform: none;
    font-size: 20px;
}
.summary .wrap:has(button) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.summary button {
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
}
.summary .wrap > button ,
.summary .qty button {
    width: 40px;
    height: 40px;
}
.summary .product-size button {
    font-size: var(--fs14);
    line-height: 44px;
    border: 1px solid var(--bordoer-color);
    border-radius: 5px;
    background-color: #ffffff;
}
.summary .product-size button.selected {
    background-color: var(--dark-color);
    color: var(--white-color);
    border-color: var(--dark-color);
}
.summary .product-size button:hover:not(.selected, [disabled]) {
    border-color: var(--dark-color);
}
.summary .product-size button:disabled {
    pointer-events: none;
}
.summary .product-stock .wrap {
    display: flex;
    gap: 5px;
}
.summary .product-stock .wrap i {
    color: var(--black-color);
    padding-left: 10px;
}
.summary .qty {
    display: flex;
    font-size: 18px;
    min-width: 110px;
    /* height: 50px; */
    border: 1px solid var(--bordoer-color) ;
    /* margin: 0 20px 20px 0; */
    background-color: var(--light-bg-color);
}
.summary .qty input {
    text-align: center;
    border: 0;
    outline: 0;
    background-color: transparent;
}
.summary .qty button {
    font-size: 22px;
    height: 100%;
    background-color: transparent;
}
.summary .qty button:hover {
    color: var(--grey-color);
}
.summary .product-action {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1px;
}

/* --------------------------*
    #floating cart
 * ------------------------- */
 
.cart-menu .wrap {
    float: right;
    --transX: 100%;
}
.cart-menu .close-trigger {
    right: auto;
    left: -40px;
}
.cart-menu .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cart-menu .cart-outer > .wrapper {
    height: 100vh;
    padding: 0;
}
.cart-menu .cart-header {
    padding: 30px 0;;
}
.product-list .grouping {
    position: relative;
    float: left;
    padding-left: 45px;
}
.product-list .quantity {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 30px;
}
.product-list .quantity .control {
    border: 1px solid var(--bordoer-color) ;
    background-color: var(--light-bg-color);
}
.product-list .quantity .control > * {
    height: 20px;
    border: 0;
    outline: 0;
    text-align: center;
    background-color: transparent;
}
.product-list .quantity button {
    font-size: 20px;
    line-height: initial;
    width: 100%;
    cursor: pointer;
}
.product-list .thumbnail {
    width: 70px;
    margin-right: 20px;
}
.product-list .variants {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3px;
}


.product-list .variants h4 {
    line-height: initial;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-list .variants > div {
    font-size: var(--fs14);
    line-height: 1.4;
}
.product-list .variants  .item-remove {
    position: absolute;
    right: 0;
    bottom: 0;
}
.product-list .item-remove {
    color: rgb(105, 9, 9);
    background-color: #ff47571a;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: var(--trans-color), var(--trans-background);
}
.product-list .item-remove:hover {
    counter-reset: var(--light-bg-color);
    background-color: var(--dark-color);
    color: var(--white-color);
}

.cart-menu .cart-footer {
    margin: 0 -20px;
    padding: 20px;
    background-color: var(--bordoer-color);
    margin-top: auto;
}

.cart-footer form {
    position: relative;
    margin-bottom: 20px;
}
.cart-footer form .input {
    line-height: 34px;
    border: 0;
    border-radius: 7px;
    background-color: var(--white-color);
}
.cart-footer form .submit {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 90px;
    height: 34px;
    line-height: 1;
    background: var(--grey-color);
    color: var(--white-color);
    padding: 0;
    border-radius: 7px;
    cursor: pointer;
    transition: var(--trans-background);
}
.cart-footer form .submit:hover {
    background-color: var(--dark-color);
}

.cart-footer .math-pricing ul li {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.cart-footer .math-pricing ul ul {
    width: 100%;
}
.cart-footer .math-pricing ul li span:not(.value),
.cart-footer .math-pricing ul li label {
    color: var(--grey-color);
}
.cart-footer .math-pricing ul ul li span:not(:first-child) {
    padding-left: 20px;
}
.cart-footer .math-pricing .total {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #818181;  
}
.cart-footer .button2 {
    text-align: center;
}
.cart-footer .button2 .secondary-btn {
    display: block;
    margin: 20px 0 10px;
    border: 0;
    text-transform: capitalize;
    line-height: 54px;
    min-width: 240px;
}
.cart-footer .button2 .secondary-btn:hover {
    background-color: #212121;
    color: var(--white-color);
}

.cart-menu .product-list > .wrapper {
    max-height: 400px;
}


@media (min-width: 481px) {
    .product .wrapper {
        --gutter: 60px;
    }
    .product.dotgrid .image {
        position: relative;
        min-width: 500px;
        width: 100%;
        margin: 0 auto;
        height: min-content;
        overflow: hidden;
    }
    .product .outer-main {
        width: calc(100% - 85px);
        height: 100%;
        margin: 0 0 0 85px;
    }
    .product .outer-thumb {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    .custom-pagination {
        display: none;
    }
}

@media (min-width: 600px) {
    .product {
        padding: 0 23px;
    }
    .product__breadcrumb {
        margin-top: 10px;
    }
   




}

@media (min-width: 768px) {
 


}

@media (min-width: 1024px) {
    .product__breadcrumb {
        margin-top: 0;
    }
    .product__breadcrumb .breadcrumb {
        display: flex;
    }
    
    



}

@media (min-width: 1140px) {
    .product {
        padding: 0 30px;
    }

}

@media (min-width: 1440px) {

}

@media (min-width: 992px) {
    
}




@media (min-width: 1200px){
    
  


}

